adf-engdata-dev/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-engdata-dev"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"ERP_Database_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ERP_Database'"
		},
		"LS_ADLS_CAD_Pipeline_Status_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_CAD_Pipeline_Status'"
		},
		"PLM_Database_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'PLM_Database'"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0328-102928-to8odk7m"
		},
		"ERP_Database_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "servererpsqldb.database.windows.net"
		},
		"ERP_Database_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SQL_DB_ERP_free-sql-db-9493379"
		},
		"ERP_Database_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "servererpsqldb "
		},
		"LS_ADLS_CAD_Pipeline_Status_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stengdataplatformdev.dfs.core.windows.net/"
		},
		"LS_Git_Repo_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/"
		},
		"PLM_Database_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "servererpsqldb.database.windows.net"
		},
		"PLM_Database_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SQL_DB_PLM"
		},
		"PLM_Database_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "servererpsqldb"
		},
		"StartPipelineStatus_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405619825764190.10.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ERP_Database')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ERP_Database_properties_typeProperties_server')]",
					"database": "[parameters('ERP_Database_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ERP_Database_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ERP_Database_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_CAD_Pipeline_Status')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_CAD_Pipeline_Status_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_CAD_Pipeline_Status_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Git_Repo')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_Git_Repo_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PLM_Database')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('PLM_Database_properties_typeProperties_server')]",
					"database": "[parameters('PLM_Database_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('PLM_Database_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('PLM_Database_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StartPipelineStatus')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('StartPipelineStatus_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR-CAD-Metadata')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"selfContainedInteractiveAuthoringEnabled": true
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Medalion_Arch')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bronze",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@pipeline().parameters.nb_bronze",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@pipeline().parameters.nb_silver",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@pipeline().parameters.nb_gold",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Serving",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@pipeline().parameters.nb_serve",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"nb_bronze": {
						"type": "string",
						"defaultValue": "/Users/abhishek.gangurde.work@gmail.com/engineering-data-platform-cad-plm-erp/adb/scripts/bronze/nb_bronze_layer_ingestion"
					},
					"nb_silver": {
						"type": "string",
						"defaultValue": "/Users/abhishek.gangurde.work@gmail.com/engineering-data-platform-cad-plm-erp/adb/scripts/bronze/nb_silver_layer_ingestion"
					},
					"nb_gold": {
						"type": "string",
						"defaultValue": "/Users/abhishek.gangurde.work@gmail.com/engineering-data-platform-cad-plm-erp/adb/scripts/bronze/nb_gold_layer_ingestion"
					},
					"nb_serve": {
						"type": "string",
						"defaultValue": "/Users/abhishek.gangurde.work@gmail.com/engineering-data-platform-cad-plm-erp/adb/scripts/bronze/nb_serving_layer_ingestion"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_1M_erp_cost')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SRC"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "erp_cost_1M.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "part_id",
						"type": "String"
					},
					{
						"name": "supplier_name",
						"type": "String"
					},
					{
						"name": "cost",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "last_updated",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_1M_plm_bom')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SRC"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "plm_bom_1M.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "part_id",
						"type": "String"
					},
					{
						"name": "supplier_name",
						"type": "String"
					},
					{
						"name": "cost",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "last_updated",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_1M_plm_revisions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SRC"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "plm_revisions_1M.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "part_id",
						"type": "String"
					},
					{
						"name": "supplier_name",
						"type": "String"
					},
					{
						"name": "cost",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "last_updated",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLSGen2_erp_cost_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "erp",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_PLM_bom_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "plm/bom",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_PLM_revisions_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "plm/revisions",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_JSON_PLM_watermark')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "plm_watermark.json",
						"fileSystem": "metadata"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_erp_cost_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ERP_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "part_id",
						"type": "varchar"
					},
					{
						"name": "supplier_name",
						"type": "varchar"
					},
					{
						"name": "cost",
						"type": "varchar"
					},
					{
						"name": "currency",
						"type": "varchar"
					},
					{
						"name": "last_updated",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "erp_cost"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ERP_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_plm_bom')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PLM_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "assembly_id",
						"type": "varchar"
					},
					{
						"name": "part_id",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "last_modified",
						"type": "datetime2",
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "plm_bom"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PLM_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_plm_revision')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PLM_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "assembly_id",
						"type": "varchar"
					},
					{
						"name": "part_id",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "last_modified",
						"type": "datetime2",
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "plm_revisions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PLM_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmptyJSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "empty.json",
						"fileSystem": "metadata"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/last_load_date')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "last_load.json",
						"fileSystem": "metadata"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		}
	]
}