pipelines/adf/pipeline/PL_CAD_Metadata_Ingesion.json
{
	"name": "PL_CAD_Metadata_Ingesion",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Of Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CAD_Metadata_Folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": false,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FilterTheCsvFile",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata Of Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Of Files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(\n    equals(item().type, 'File'),\n    endswith(item().name, '.csv')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachCsvFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterTheCsvFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterTheCsvFile').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Lookuplast_load_date",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "last_load_date",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "CurrentFileDate",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current_file_date",
								"value": {
									"value": "@replace(\n    replace(\n        replace(\n            item().name, 'cad_metadata_', ''),\n        '.csv', ''),\n    '_', '-')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "LastLoadDate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookuplast_load_date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "last_load_date",
								"value": {
									"value": "@if(\n    contains(string(activity('Lookuplast_load_date').output), 'firstRow'),\n    activity('Lookuplast_load_date').output.firstRow.last_load_date,\n    '1900-01-01'\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "IfNewFile",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LastLoadDate",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "CurrentFileDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(variables('current_file_date'), variables('last_load_date'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "BatchLoadofCSV",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "FileServerReadSettings",
													"recursive": false,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings",
													"copyBehavior": "PreserveHierarchy"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "CAD_Metadata",
												"type": "DatasetReference",
												"parameters": {
													"file_name": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "sink_CAD_metadata_ADLS_As_is",
												"type": "DatasetReference",
												"parameters": {
													"filename": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "UpdateMaxProcessedDate",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "BatchLoadofCSV",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "max_processed_date",
											"value": {
												"value": "@variables('current_file_date')",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "CheckAnyFileCopied",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ForEachCsvFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(variables('max_processed_date')))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "WaterMarkUpdate",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "metadata//empty.json"
								},
								{
									"name": "Destination",
									"value": "metadata//last_load.json"
								}
							],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "last_load_date",
											"value": {
												"value": "@variables('max_processed_date')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "JsonWriteSettings",
										"filePattern": "arrayOfObjects"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "EmptyJSON",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "last_load_date",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"last_load_date": {
				"type": "String"
			},
			"current_file_date": {
				"type": "String"
			},
			"max_processed_date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}