pipelines/adf/pipeline/PL_PLM_Ingesion.json
{
	"name": "PL_PLM_Ingesion",
	"properties": {
		"activities": [
			{
				"name": "Lookup-GetLatestWatermark",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_JSON_PLM_watermark",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachCopy",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup-GetLatestWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup-GetLatestWatermark').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_plm_revisions",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT\n    part_id,\n    revision,\n    status,\n    effective_from,\n    effective_to,\n    last_modified,\n    SYSUTCDATETIME() AS _ingestion_ts\nFROM dbo.plm_revisions\nWHERE last_modified >  '@{item().last_watermark}'\n  AND last_modified <= SYSUTCDATETIME()",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_plm_revision",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PLM_revisions_Sink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "copy_plm_bom",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT\n    assembly_id,\n    part_id,\n    quantity,\n    last_modified,\n    SYSUTCDATETIME() AS _ingestion_ts\nFROM dbo.plm_bom\nWHERE last_modified >  '@{item().last_watermark}'\n  AND last_modified <= SYSUTCDATETIME()",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_plm_bom",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PLM_bom_Sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "writeupdatedwatermarkjson",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEachCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"Content-Type": "application/json",
						"x-ms-version": "2020-04-08",
						"x-ms-blob-type": "BlockBlob"
					},
					"url": {
						"value": "https://stengdataplatformdev.blob.core.windows.net/bronze/plm/watermark/plm_watermark.json",
						"type": "Expression"
					},
					"body": {
						"value": "@concat(\n  '[',\n  '{\"table_name\":\"plm_revisions\",\"last_watermark\":\"', utcNow('yyyy-MM-dd HH:mm:ss'), '\",\"merge_key\":[\"part_id\",\"revision\"],\"adls_path\":\"bronze/plm/revisions\"}',\n  ',',\n  '{\"table_name\":\"plm_bom\",\"last_watermark\":\"', utcNow('yyyy-MM-dd HH:mm:ss'), '\",\"merge_key\":[\"assembly_id\",\"part_id\"],\"adls_path\":\"bronze/plm/bom\"}',\n  ']'\n)",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			}
		],
		"annotations": []
	}
}