adf-engdata-dev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-engdata-dev"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"ERP_Database_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ERP_Database'"
		},
		"LS_ADLS_CAD_Pipeline_Status_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_CAD_Pipeline_Status'"
		},
		"LS_OnPremSQLServer_ERP_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_OnPremSQLServer_ERP'"
		},
		"LS_OnPrem_CAD_Metadata_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_OnPrem_CAD_Metadata'"
		},
		"LS_SQLServer_PLM_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLServer_PLM'"
		},
		"PLM_Database_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'PLM_Database'"
		},
		"pipeline_metadata_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'pipeline_metadata'"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0328-102928-to8odk7m"
		},
		"ERP_Database_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "servererpsqldb.database.windows.net"
		},
		"ERP_Database_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SQL_DB_ERP_free-sql-db-9493379"
		},
		"ERP_Database_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "servererpsqldb "
		},
		"LS_ADLS_CAD_Pipeline_Status_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stengdataplatformdev.dfs.core.windows.net/"
		},
		"LS_Git_Repo_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/"
		},
		"LS_OnPremSQLServer_ERP_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-HFG9J5N\\SQLEXPRESS"
		},
		"LS_OnPremSQLServer_ERP_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ERP"
		},
		"LS_OnPremSQLServer_ERP_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "abhigangurd"
		},
		"LS_OnPrem_CAD_Metadata_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Users\\DELL\\Documents\\Abhishek-Work\\DataEngineer\\DE_Projects\\CADPLMSYS\\engineering-data-platform-cad-plm-erp\\data\\cad"
		},
		"LS_OnPrem_CAD_Metadata_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "abhigangurd"
		},
		"LS_SQLServer_PLM_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-HFG9J5N\\SQLEXPRESS"
		},
		"LS_SQLServer_PLM_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PLM"
		},
		"LS_SQLServer_PLM_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "abhigangurd"
		},
		"PLM_Database_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "servererpsqldb.database.windows.net"
		},
		"PLM_Database_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SQL_DB_PLM"
		},
		"PLM_Database_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "servererpsqldb"
		},
		"StartPipelineStatus_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/"
		},
		"pipeline_metadata_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-HFG9J5N\\SQLEXPRESS"
		},
		"pipeline_metadata_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "pipeline_metadata"
		},
		"pipeline_metadata_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "abhigangurd"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Load_source_SQL_DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_erp_cost",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_1M_erp_cost",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_erp_cost_src",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_plm_bom",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_1M_plm_bom",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_plm_bom",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_plm_revisions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_1M_plm_revisions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_plm_revision",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_1M_erp_cost')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_erp_cost_src')]",
				"[concat(variables('factoryId'), '/datasets/DS_1M_plm_bom')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_plm_bom')]",
				"[concat(variables('factoryId'), '/datasets/DS_1M_plm_revisions')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_plm_revision')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CAD_Metadata_Ingesion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata Of Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CAD_Metadata_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "FileServerReadSettings",
								"recursive": false,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "FilterTheCsvFile",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Metadata Of Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata Of Files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(\n    equals(item().type, 'File'),\n    endswith(item().name, '.csv')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCsvFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterTheCsvFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterTheCsvFile').output.Value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Lookuplast_load_date",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"dataset": {
											"referenceName": "last_load_date",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "CurrentFileDate",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "current_file_date",
										"value": {
											"value": "@replace(\n    replace(\n        replace(\n            item().name, 'cad_metadata_', ''),\n        '.csv', ''),\n    '_', '-')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "LastLoadDate",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Lookuplast_load_date",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "last_load_date",
										"value": {
											"value": "@if(\n    contains(string(activity('Lookuplast_load_date').output), 'firstRow'),\n    activity('Lookuplast_load_date').output.firstRow.last_load_date,\n    '1900-01-01'\n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "IfNewFile",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "LastLoadDate",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "CurrentFileDate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(variables('current_file_date'), variables('last_load_date'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "BatchLoadofCSV",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": false,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings",
															"copyBehavior": "PreserveHierarchy"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "CAD_Metadata",
														"type": "DatasetReference",
														"parameters": {
															"file_name": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "sink_CAD_metadata_ADLS_As_is",
														"type": "DatasetReference",
														"parameters": {
															"filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "UpdateMaxProcessedDate",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "BatchLoadofCSV",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "max_processed_date",
													"value": {
														"value": "@variables('current_file_date')",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "CheckAnyFileCopied",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ForEachCsvFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(empty(variables('max_processed_date')))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "WaterMarkUpdate",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "metadata//empty.json"
										},
										{
											"name": "Destination",
											"value": "metadata//last_load.json"
										}
									],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "last_load_date",
													"value": {
														"value": "@variables('max_processed_date')",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "JsonWriteSettings",
												"filePattern": "arrayOfObjects"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "EmptyJSON",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "last_load_date",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"last_load_date": {
						"type": "String"
					},
					"current_file_date": {
						"type": "String"
					},
					"max_processed_date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CAD_Metadata_Folder')]",
				"[concat(variables('factoryId'), '/datasets/last_load_date')]",
				"[concat(variables('factoryId'), '/datasets/EmptyJSON')]",
				"[concat(variables('factoryId'), '/datasets/CAD_Metadata')]",
				"[concat(variables('factoryId'), '/datasets/sink_CAD_metadata_ADLS_As_is')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Master_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BatchIngestionCAD_Metadata_Ingestion",
						"description": "Batch Ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CAD_Metadata_Ingesion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "IncrementalLoad_ERP_PLM",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PLM-ERP_Ingesion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MedalionArch",
						"type": "DatabricksJob",
						"dependsOn": [
							{
								"activity": "BatchIngestionCAD_Metadata_Ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "IncrementalLoad_ERP_PLM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"jobId": "853200603777198"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_CAD_Metadata_Ingesion')]",
				"[concat(variables('factoryId'), '/pipelines/PL_PLM-ERP_Ingesion')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Medalion_Arch')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bronze",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@pipeline().parameters.nb_bronze",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@pipeline().parameters.nb_silver",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@pipeline().parameters.nb_gold",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Serving",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@pipeline().parameters.nb_serve",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"nb_bronze": {
						"type": "string",
						"defaultValue": "/Users/abhishek.gangurde.work@gmail.com/engineering-data-platform-cad-plm-erp/adb/scripts/bronze/nb_bronze_layer_ingestion"
					},
					"nb_silver": {
						"type": "string",
						"defaultValue": "/Users/abhishek.gangurde.work@gmail.com/engineering-data-platform-cad-plm-erp/adb/scripts/bronze/nb_silver_layer_ingestion"
					},
					"nb_gold": {
						"type": "string",
						"defaultValue": "/Users/abhishek.gangurde.work@gmail.com/engineering-data-platform-cad-plm-erp/adb/scripts/bronze/nb_gold_layer_ingestion"
					},
					"nb_serve": {
						"type": "string",
						"defaultValue": "/Users/abhishek.gangurde.work@gmail.com/engineering-data-platform-cad-plm-erp/adb/scripts/bronze/nb_serving_layer_ingestion"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PLM-ERP_Ingesion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup-GetLatestWatermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DS_JSON_PLM_watermark",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "writeupdatedwatermarkjson",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "copy_plm_revisions",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_plm_bom",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_erp_cost",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {
								"Content-Type": "application/json",
								"x-ms-version": "2020-04-08",
								"x-ms-blob-type": "BlockBlob"
							},
							"url": {
								"value": "https://stengdataplatformdev.blob.core.windows.net/metadata/plm_watermark.json",
								"type": "Expression"
							},
							"body": {
								"value": "@concat('[',\n  '{\"table_name\":\"plm_revisions\",\"last_watermark\":\"',   formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss'), '\",\"merge_key\":[\"part_id\",\"revision\"],\"adls_path\":\"bronze/plm/revisions\"}',\n  ',',\n  '{\"table_name\":\"plm_bom\",\"last_watermark\":\"',         formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss'), '\",\"merge_key\":[\"assembly_id\",\"part_id\"],\"adls_path\":\"bronze/plm/bom\"}',\n  ',',\n  '{\"table_name\":\"erp_cost\",\"last_watermark\":\"',        formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss'), '\",\"merge_key\":[\"part_id\",\"supplier_name\"],\"adls_path\":\"bronze/erp/cost\"}',\n']')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://storage.azure.com/"
							}
						}
					},
					{
						"name": "copy_plm_revisions",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup-GetLatestWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT\n    part_id,\n    revision,\n    status,\n    effective_from,\n    effective_to,\n    last_modified,\n    SYSUTCDATETIME() AS _ingestion_ts\nFROM dbo.plm_revisions\nWHERE last_modified >  '@{activity('Lookup-GetLatestWatermark').output.value[0].last_watermark}'\n  AND last_modified <= SYSUTCDATETIME()",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_plm_revision",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_PLM_revisions_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_plm_bom",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup-GetLatestWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT\n    assembly_id,\n    part_id,\n    quantity,\n    last_modified,\n    SYSUTCDATETIME() AS _ingestion_ts\nFROM dbo.plm_bom\nWHERE last_modified >  '@{activity('Lookup-GetLatestWatermark').output.value[1].last_watermark}'\n  AND last_modified <= SYSUTCDATETIME()",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_plm_bom",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_PLM_bom_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_erp_cost",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup-GetLatestWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT\n    part_id,\n    supplier_name,\n    cost,\n    currency,\n    last_updated,\n    SYSUTCDATETIME() AS _ingestion_ts\nFROM dbo.erp_cost\nWHERE last_updated >  '@{activity('Lookup-GetLatestWatermark').output.value[2].last_watermark}'\n  AND last_updated <= SYSUTCDATETIME()",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_erp_cost_src",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLSGen2_erp_cost_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_JSON_PLM_watermark')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_plm_revision')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_PLM_revisions_sink')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_plm_bom')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_PLM_bom_sink')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_erp_cost_src')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLSGen2_erp_cost_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup-GetLatestWatermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DS_JSON_PLM_watermark",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "copy_plm_revisions",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup-GetLatestWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT\n    part_id,\n    revision,\n    status,\n    effective_from,\n    effective_to,\n    last_modified,\n    SYSUTCDATETIME() AS _ingestion_ts\nFROM dbo.plm_revisions\nWHERE last_modified > '@{activity('Lookup-GetLatestWatermark').output.value[0].last_watermark}'\n  AND last_modified <= SYSUTCDATETIME()",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_plm_revision",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_PLM_revisions_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_plm_bom",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup-GetLatestWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT\n    assembly_id,\n    part_id,\n    quantity,\n    last_modified,\n    SYSUTCDATETIME() AS _ingestion_ts\nFROM dbo.plm_bom\nWHERE last_modified > '@{activity('Lookup-GetLatestWatermark').output.value[1].last_watermark}'\n  AND last_modified <= SYSUTCDATETIME()",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_plm_bom",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_PLM_bom_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_erp_cost",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup-GetLatestWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT\n    part_id,\n    supplier_name,\n    cost,\n    currency,\n    last_updated,\n    SYSUTCDATETIME() AS _ingestion_ts\nFROM dbo.erp_cost\nWHERE last_updated > '@{activity('Lookup-GetLatestWatermark').output.value[2].last_watermark}'\n  AND last_updated <= SYSUTCDATETIME()",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_erp_cost_src",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLSGen2_erp_cost_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "df_upsert_plm_revisions",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "copy_plm_revisions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_upsert_plm_revisions",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceStagingParquet": {},
									"SinkDeltaRevisions": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_upsert_plm_bom",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "copy_plm_bom",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_upsert_plm_bom",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceStagingParquet": {},
									"SinkDeltaBom": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_upsert_erp_cost",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "copy_erp_cost",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_upsert_erp_cost",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceStagingParquet": {},
									"SinkDeltaErpCost": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "writeupdatedwatermarkjson",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "df_upsert_plm_revisions",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "df_upsert_plm_bom",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "df_upsert_erp_cost",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {
								"Content-Type": "application/json",
								"x-ms-version": "2020-04-08",
								"x-ms-blob-type": "BlockBlob"
							},
							"url": {
								"value": "https://stengdataplatformdev.blob.core.windows.net/bronze/plm/watermark/plm_watermark.json",
								"type": "Expression"
							},
							"body": {
								"value": "@concat('[',\n  '{\"table_name\":\"plm_revisions\",\"last_watermark\":\"', formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss'), '\",\"merge_key\":[\"part_id\",\"revision\"],\"adls_path\":\"bronze/plm/revisions\"}',\n  ',',\n  '{\"table_name\":\"plm_bom\",\"last_watermark\":\"', formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss'), '\",\"merge_key\":[\"assembly_id\",\"part_id\"],\"adls_path\":\"bronze/plm/bom\"}',\n  ',',\n  '{\"table_name\":\"erp_cost\",\"last_watermark\":\"', formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss'), '\",\"merge_key\":[\"part_id\",\"supplier_name\"],\"adls_path\":\"bronze/erp/cost\"}',\n']')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://storage.azure.com/"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_JSON_PLM_watermark')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_plm_revision')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_PLM_revisions_sink')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_plm_bom')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_PLM_bom_sink')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_erp_cost_src')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLSGen2_erp_cost_sink')]",
				"[concat(variables('factoryId'), '/dataflows/df_upsert_plm_revisions')]",
				"[concat(variables('factoryId'), '/dataflows/df_upsert_plm_bom')]",
				"[concat(variables('factoryId'), '/dataflows/df_upsert_erp_cost')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_plm_bom",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"assembly_id",
										"part_id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_1M_plm_bom",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_plm_bom",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_1M_plm_bom')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_plm_bom')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAD_Metadata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_OnPrem_CAD_Metadata",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "part_id",
						"type": "String"
					},
					{
						"name": "part_name",
						"type": "String"
					},
					{
						"name": "material",
						"type": "String"
					},
					{
						"name": "weight_kg",
						"type": "String"
					},
					{
						"name": "designer",
						"type": "String"
					},
					{
						"name": "created_date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_OnPrem_CAD_Metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAD_Metadata_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_OnPrem_CAD_Metadata",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "part_id",
						"type": "String"
					},
					{
						"name": "part_name",
						"type": "String"
					},
					{
						"name": "material",
						"type": "String"
					},
					{
						"name": "weight_kg",
						"type": "String"
					},
					{
						"name": "designer",
						"type": "String"
					},
					{
						"name": "created_date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_OnPrem_CAD_Metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_1M_erp_cost')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SRC"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "erp_cost_1M.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "part_id",
						"type": "String"
					},
					{
						"name": "supplier_name",
						"type": "String"
					},
					{
						"name": "cost",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "last_updated",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_1M_plm_bom')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SRC"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "plm_bom_1M.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "part_id",
						"type": "String"
					},
					{
						"name": "supplier_name",
						"type": "String"
					},
					{
						"name": "cost",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "last_updated",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_1M_plm_revisions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SRC"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "plm_revisions_1M.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "part_id",
						"type": "String"
					},
					{
						"name": "supplier_name",
						"type": "String"
					},
					{
						"name": "cost",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "last_updated",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLSGen2_erp_cost_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "erp",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_PLM_bom_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "plm/bom",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_PLM_revisions_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "plm/revisions",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_JSON_PLM_watermark')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "plm_watermark.json",
						"fileSystem": "metadata"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_OnPrem_Src_param')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_OnPrem_CAD_Metadata",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().p_file_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_OnPrem_CAD_Metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_erp_cost_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ERP_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "part_id",
						"type": "varchar"
					},
					{
						"name": "supplier_name",
						"type": "varchar"
					},
					{
						"name": "cost",
						"type": "varchar"
					},
					{
						"name": "currency",
						"type": "varchar"
					},
					{
						"name": "last_updated",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "erp_cost"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ERP_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_plm_bom')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PLM_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "assembly_id",
						"type": "varchar"
					},
					{
						"name": "part_id",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "last_modified",
						"type": "datetime2",
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "plm_bom"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PLM_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_plm_revision')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PLM_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "assembly_id",
						"type": "varchar"
					},
					{
						"name": "part_id",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "last_modified",
						"type": "datetime2",
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "plm_revisions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PLM_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmptyJSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "empty.json",
						"fileSystem": "metadata"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/last_load_date')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "last_load.json",
						"fileSystem": "metadata"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink_CAD_Metadata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_file_name",
							"type": "Expression"
						},
						"folderPath": "cad/raw",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink_CAD_metadata_ADLS_As_is')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CAD_Pipeline_Status",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string",
						"defaultValue": "@dataset().filename"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "cad/raw",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405619825764190.10.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ERP_Database')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ERP_Database_properties_typeProperties_server')]",
					"database": "[parameters('ERP_Database_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ERP_Database_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ERP_Database_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_CAD_Pipeline_Status')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_CAD_Pipeline_Status_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_CAD_Pipeline_Status_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Git_Repo')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_Git_Repo_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_OnPremSQLServer_ERP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_OnPremSQLServer_ERP_properties_typeProperties_server')]",
					"database": "[parameters('LS_OnPremSQLServer_ERP_properties_typeProperties_database')]",
					"encrypt": "False",
					"trustServerCertificate": false,
					"authenticationType": "Windows",
					"userName": "[parameters('LS_OnPremSQLServer_ERP_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_OnPremSQLServer_ERP_password')]"
					},
					"integratedSecurity": "True",
					"pooling": "False",
					"multipleActiveResultSets": "False",
					"connectTimeout": "30",
					"packetSize": "4096",
					"commandTimeout": "0"
				},
				"connectVia": {
					"referenceName": "IR-CAD-Metadata",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-CAD-Metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_OnPrem_CAD_Metadata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('LS_OnPrem_CAD_Metadata_properties_typeProperties_host')]",
					"userId": "[parameters('LS_OnPrem_CAD_Metadata_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_OnPrem_CAD_Metadata_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IR-CAD-Metadata",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-CAD-Metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLServer_PLM')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQLServer_PLM_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLServer_PLM_properties_typeProperties_database')]",
					"encrypt": "False",
					"trustServerCertificate": false,
					"authenticationType": "Windows",
					"userName": "[parameters('LS_SQLServer_PLM_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLServer_PLM_password')]"
					},
					"integratedSecurity": "True",
					"pooling": "False",
					"multipleActiveResultSets": "False",
					"connectTimeout": "30",
					"packetSize": "4096",
					"commandTimeout": "0"
				},
				"connectVia": {
					"referenceName": "IR-CAD-Metadata",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-CAD-Metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PLM_Database')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('PLM_Database_properties_typeProperties_server')]",
					"database": "[parameters('PLM_Database_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('PLM_Database_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('PLM_Database_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StartPipelineStatus')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('StartPipelineStatus_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_metadata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('pipeline_metadata_properties_typeProperties_server')]",
					"database": "[parameters('pipeline_metadata_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "Windows",
					"userName": "[parameters('pipeline_metadata_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('pipeline_metadata_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IR-CAD-Metadata",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-CAD-Metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRG_Master_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_Master_Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2026-03-27T14:49:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Master_Pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR-CAD-Metadata')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"selfContainedInteractiveAuthoringEnabled": true
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_upsert_erp_cost-_cp')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ADLSGen2_erp_cost_sink",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ADLSGen2_erp_cost_sink",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"rejectedDataLinkedService": {
								"referenceName": "LS_ADLS_CAD_Pipeline_Status",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "alterRow1"
						}
					],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> source1",
						"source1 alterRow(upsertIf(true())) ~> alterRow1",
						"alterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: true,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLSGen2_erp_cost_sink')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_upsert_erp_cost')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Incremental UPSERT of erp_cost staging Parquet into Delta table. Merge key: part_id + supplier_name.",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ADLSGen2_erp_cost_sink",
								"type": "DatasetReference"
							},
							"name": "SourceStagingParquet",
							"description": "Reads incremental Parquet written by copy_erp_cost"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ADLSGen2_erp_cost_sink",
								"type": "DatasetReference"
							},
							"name": "SinkDeltaErpCost",
							"description": "Delta UPSERT sink at bronze/erp/cost"
						}
					],
					"transformations": [
						{
							"name": "AlterRowUpsert",
							"description": "Mark every incoming row as an UPSERT candidate"
						}
					],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: true,",
						"     format: 'parquet') ~> SourceStagingParquet",
						"SourceStagingParquet alterRow(upsertIf(true())) ~> AlterRowUpsert",
						"AlterRowUpsert sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     vacuum: 0) ~> SinkDeltaErpCost"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLSGen2_erp_cost_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_upsert_plm_bom')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Incremental UPSERT of plm_bom staging Parquet into Delta table. Merge key: assembly_id + part_id.",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_PLM_bom_sink",
								"type": "DatasetReference"
							},
							"name": "SourceStagingParquet",
							"description": "Reads incremental Parquet written by copy_plm_bom"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_PLM_bom_sink",
								"type": "DatasetReference"
							},
							"name": "SinkDeltaBom",
							"description": "Delta UPSERT sink at bronze/plm/bom"
						}
					],
					"transformations": [
						{
							"name": "AlterRowUpsert",
							"description": "Mark every incoming row as an UPSERT candidate"
						}
					],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: true,",
						"     format: 'parquet') ~> SourceStagingParquet",
						"SourceStagingParquet alterRow(upsertIf(true())) ~> AlterRowUpsert",
						"AlterRowUpsert sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     vacuum: 0) ~> SinkDeltaBom"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_PLM_bom_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_upsert_plm_revisions')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Incremental UPSERT of plm_revisions staging Parquet into Delta table. Merge key: part_id + revision.",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_PLM_revisions_sink",
								"type": "DatasetReference"
							},
							"name": "SourceStagingParquet",
							"description": "Reads incremental Parquet written by copy_plm_revisions"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_PLM_revisions_sink",
								"type": "DatasetReference"
							},
							"name": "SinkDeltaRevisions",
							"description": "Delta UPSERT sink at bronze/plm/revisions",
							"rejectedDataLinkedService": {
								"referenceName": "LS_ADLS_CAD_Pipeline_Status",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "AlterRowUpsert",
							"description": "Mark every incoming row as an UPSERT candidate"
						}
					],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: true,",
						"     format: 'parquet') ~> SourceStagingParquet",
						"SourceStagingParquet alterRow(upsertIf(true())) ~> AlterRowUpsert",
						"AlterRowUpsert sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     vacuum: 0) ~> SinkDeltaRevisions"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_PLM_revisions_sink')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CAD_Pipeline_Status')]"
			]
		}
	]
}